
/***********************************************************************/
/* Inställningar för hela sidan.                                       */
/***********************************************************************/

/***********************************************************************/
/* Huvudfärger i detta stylesheet är:                                  */
/* Mörkblå:   1E3E7B                                                   */
/* Mellanblå: 3472C7                                                   */
/* Ljusblå:   74A0CD                                                   */
/***********************************************************************/


body {
    margin: 0;
    padding: 0;
    border: 0;   /* This removes the border around the viewport in old versions of IE */
    background-color: #3472C7;
    background-image: url(../images/bBlue.gif);
    background-repeat: repeat-y; 

}


.page { 
    min-width: 700px; 
    margin: 5px;
    font-family: verdana, arial, sans-serif;
    color: #000000;
    font-size:12px;
   
}

.page h1, h2, h3 {
    color: #1E3E7B;
}


/***********************************************************************/
/* Inställningar för top.                                          */
/***********************************************************************/

.top {
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    width:100%;
    background-image:url(../images/huvudRepeat.gif);
    background-repeat:repeat-x; 
    /* color: #1E3E7B;
    font-size:32px;
    text-align:left; */
}


/***********************************************************************/
/* Inställningar för huvudet.                                          */
/***********************************************************************/

.head {
}


/***********************************************************************/
/* Inställningar för titel.                                          */
/***********************************************************************/

.titel {
}


/***********************************************************************/
/* Inställningar för menyraden.                                          */
/***********************************************************************/

.menu {
    border-style: none; 
    margin: 0px;
    padding: 0px;
    padding-left: 40px;
    height: 25px;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 119px;
    left: 0px;
    background-image: url('../images/navBlue.gif');
    background-repeat: repeat-x;
    line-height: 25px;
    list-style: none outside none;
    overflow: hidden;
}

.menu li.left {

}

.menu li.right {

}

.menu li {
    float: left;
    margin: 0px;
    padding: 0px;
}

.menu li a {
    margin: 0px;
    float: left;
    width: 130px;
    color:#ffffff;
    font-size:14px;
    font-weight: bold;
    text-decoration: none;
    text-align:center;

}
    
.menu li a:hover {
    background-image: url('../images/navHoverBlue.gif');
    background-repeat: repeat-x;
}
    
.menu li em {
    background-image:url('../images/navDivBlue.gif');
    background-repeat: no-repeat;
    float: left;
    height: 30px;
    width: 2px;
}


/***********************************************************************/
/* Inställningar för sidkroppen med kolumner.                          */
/***********************************************************************/

th {
    text-align: left;
    }

.pageBody {
    position:relative;	/* This fixes the IE7 overflow hidden bug */
    margin-top: 160px;
    clear:both;
    float:left;
    width:100%;			/* width of whole page */
    z-index:1;
    overflow:hidden;		/* This chops off any overhanging divs */
    min-height: 400px;
    /*border-style:ridge;
    border-width:7px;
    border-color:#CC9966;
    background-color:#1C4149;
    margin-bottom:10px;*/
	}
    
	/* common column settings */
	.colright,
	.colmid,
	.colleft {
		float:left;
		width:100%;			/* width of page */
		position:relative;
	}
	.col1,
	.col2,
	.col3 {
		float:left;
		position:relative;
		padding:0 0 0 0;	/* no left and right padding on columns, we just make them narrower instead 
						only padding top and bottom is included here, make it whatever value you need */
		overflow:hidden;
	}
        /* 3 Column settings */
        .threecol {
            /*background:#2D7875;		/* right column background colour */
        }
        .threecol .colmid {
            right:25%;			/* width of the right column */
            /*background:#1C4149;		/* center column background colour */
        }
        .threecol .colleft {
            right:50%;			/* width of the middle column */
            /*background:#2D7875;	/* left column background colour */
        }
        .threecol .col1 {
            width:46%;			/* width of center column content (column width minus padding on either side) */
            left:102%;			/* 100% plus left padding of center column */
        }
        .threecol .col2 {
            width:21%;			/* Width of left column content (column width minus padding on either side) */
            left:31%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
        }
        .threecol .col3 {
            width:21%;			/* Width of right column content (column width minus padding on either side) */
            left:85%;			/* Please make note of the brackets here:
                            (100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
        }

        /* 2 Column (left menu) settings */
        .leftmenu {
            /* background:#1C4149;		/* right column background colour */
        }
        .leftmenu .colleft {
            right:75%;			/* right column width */
            /*background:#2D7875;	/* left column background colour */
        }
        .leftmenu .col1 {
            width:71%;			/* right column content width */
            left:102%;			/* 100% plus left column left padding */
        }
        .leftmenu .col2 {
            width:21%;			/* left column content width (column width minus left and right padding) */
            left:6%;			/* (right column left and right padding) plus (left column left padding) */
        }

        /* 2 Column (right menu) settings */
        .rightmenu {
            /*background:#2D7875;		/* right column background colour */
        }
        .rightmenu .colleft {
            right:25%;			/* right column width */
            /*background:#1C4149;		/* left column background colour */
            /*border: 2px solid #74A0CD;*/

        }
        .rightmenu .col1 {
            width:71%;			/* left column content width (left column width minus left and right padding) */
            left:27%;			/* (right column width) plus (left column left padding) */
        }
        .rightmenu .col2 {
            width:21%;			/* right column content width (right column width minus left and right padding) */
            left:31%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
        }
        
        /* Full page settings */
        .fullpage {
            /* background:#1C4149;		/* page background colour */
        }
        .fullpage .col1 {
            width:96%;			/* page width minus left and right padding */
            left:2%;			/* page left padding */
        }


/***********************************************************************/
/* Inställningar för huvudkolumnen.                                    */
/***********************************************************************/

.floatRight {
    float: right;
    margin: 10px 0px 10px 10px;
}

.floatLeft {
    float: left;
    margin: 10px 10px 10px 0px;
}

.clear {
    clear: both;
}

/***********************************************************************/
/* Inställningar för högerkolumnen.                                    */
/***********************************************************************/

.news, .login {
    margin: 0px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #1E3E7B;
    overflow: hidden;
    background-color: #FFFFFF;
}

.login {
    font-size: 10px;
    color: #1E3E7B;
}

.login td, tr {
    margin: 0px;
    padding: 0px;
}

.news a {
    color:#1E3E7B;
    text-decoration:none;
}


.counter {
    margin: 0px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #1E3E7B;
    overflow: hidden;
    background-color: #FFFFFF;
    color:#1E3E7B;
    font-size:10px;
    font-family:verdana;
}

.counter em {
    padding: 0px;
    margin: 0px;
    border: 1px solid #000000;
    background-color: #1E3E7B;
    color:#FFFFFF;
    font-family: Century, Courier;
    font-style: normal;
    font-weight: bold;
}


/***********************************************************************/
/* Inställningar för knappar.                                          */
/***********************************************************************/

.clear_button { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.button {
    background: transparent url('../images/b_button_a.gif') no-repeat scroll top right;
    color: #FFF; /* #444; */
    display: block;
    float: left;
    font: bold 12px arial, sans-serif;
    height: 20px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

.button span {
    background: transparent url('../images/b_button_span.gif') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 18px;
} 


/***********************************************************************/
/* Inställningar för administrationssidor.                             */
/***********************************************************************/

.name {
    font-size: 24px;
    color: #1E3E7B;
    font-style: italic;
    border-bottom-style: solid;
    border-color: #1E3E7B;
    border-width: 1px;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

.admin {
    border: 1px solid #1E3E7B;
    background-color: #FFFFFF;
    padding: 10px;
}


.admin table {
    background-color: #FFFFFF;
    color:#000000;
    font-size:12px;
    margin: 1px;
}

.admin .formated td {
    min-width: 200px;
}

.admin .formated .td3 {
    min-width: 50px;
}

.admin th {
    color:#1E3E7B;
    font-weight: bold;
    text-align: left;
}


/*
.admin a {
    padding: 2px;
    border: 2px outset #1E3E7B;
    background-color: #74A0CD;
    color:#000000;
    text-decoration:none;
    line-height: 24px;
}

.admin a:hover {
    background-color: #1E3E7B;
    color:#FFFFFF;
}
*/




/***********************************************************************/
/* Inställningar för bloggen.                                          */
/***********************************************************************/
.time, .author {
    font-size:8px;
    color: #666666;
}    

.post {
    border: 2px solid #74A0CD;
    background-color: #FFFFFF;
    padding: 10px;
    margin-top: 20px;
}


/***********************************************************************/
/* Inställningar för QuickForm-formulär.                               */
/***********************************************************************/

.quickform { margin: 5px; padding: 5px; }
/*.quickform form {
    margin: 0;
    padding: 0;
}*/

.quickform form fieldset { margin: 10px 0; padding: 10px; border: #DDD 1px solid; background-color: #FFF; }
/*.quickform fieldset {
    clear: both;
    border: 1px solid #808080;
    margin: 0.2em 0 0 0;
    padding: 0.5em;
}*/

.quickform form legend { font-weight: bold; color: #666; }
/*.quickform fieldset legend {
    white-space: nowrap;
    font-weight: bold;
    background-color: #CCCCCC;
    padding: 0.1em 0.5em;
    display: block;
    margin: 0;
}*/

/*.quickform form label,
.quickform span.qf-label { margin-right: 10px; padding-right: 10px; width: 150px; display: block; float: left; text-align: right; position: relative; }
.quickform form .qf-label-1 { margin-left:160px; padding-left:10px; color:#888; font-size: 85%; }
*/
.quickform label {
    margin: 0 0 0 0.5em;
}
.quickform label.element {
    display: block;
    float: left;
    width: 20%;
    padding: 0;
    margin: 0.5em 0 0 0;
    text-align: right;
}
.quickform input, .quickform textarea, .quickform select {
    width: auto;
}
.quickform textarea {
    overflow: auto;
}
.quickform br {
    clear: left;
}
.quickform div.row {
    padding: 0;
    margin: 0;
    clear: both;
}

//.quickform form div.element { padding: 0.25em 0; }
.quickform div.element {
    display: inline;
    float: left;
    margin: 0.5em 0 0 1em;
    padding: 0;
}

/*.quickform form .required:after { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; content: "*"; }
.quickform div.reqnote { font-size: 92%; color: #555; }
.quickform div.reqnote strong { color:#000; font-weight: bold; }
*/

.quickform div.reqnote em { font-style: normal; color: #C00; }
.quickform div.reqnote {
    clear: both;
    font-size: 80%; 
    margin: 0.5em 0 0 1em;
}
.quickform span.error, .quickform span.required {
    color: red;
}

.quickform div.errors { background-color: #FEE; border: 1px solid #ECC; padding:5px; margin:0 0 20px 0 }
.quickform div.errors p,
.quickform div.errors ul { margin:0; }
.quickform div.error input { border-color: #C00; background-color: #FEF; }
/*.quickform div.error {
    border: 1px solid red;
    padding: 0.5em;
}*/

.quickform div.qf-checkable label, 
.quickform div.qf-checkable input { display: inline; float: none; }
.quickform div.qf-checkable div,
.quickform div.qf-message { margin-left: 170px; }
.quickform div.qf-message { font-size: 88%; color: #C00; }


/***********************************************************************/
/* Inställningar för felmeddelande.                                    */
/***********************************************************************/

.errorMessage {
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #CC0033;
    margin: 5px;
    padding: 5px;
}



/***********************************************************************/
/* Inställningar för sidfoten.                                         */
/***********************************************************************/

.footer {
    clear:both;
    float:left;
    width:100%;
    z-index:1;
    border-style:none;
    border-width:0px;
    padding:10px;
    color:#000000;
    font-size:8px;
    text-align:center;
}
    
